{{ define "main" }}
<article>
  {{ with .Title -}}<h1>{{- . -}}</h1>{{- end }}
  {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item" style="list-style: none;
      display: grid;   
    grid-template-columns: 6.5em auto;">
      {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
      <img style="
      height: 6.3rem;
      width: 6.3rem;
      object-fit:cover;
      grid-column: 1;" src="{{ .Params.banner | absURL }}" ;></span>
      {{ end }}
      <div style="grid-column: 2;">
        <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <br>
        <span class="posts-list-item-summary">
          {{ if .Params.Summary }}
          {{ .Params.Summary | markdownify }}
          {{ else }}
          {{ .Summary | plainify | strings.Truncate 200 }}
          {{ end }}
        </span>
        <span class="posts-list-item-description">
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
          <span class="posts-list-item-separator">-</span>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </span>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</article>
{{ end }}