// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.
article>img {
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
}