
.archive-article-inner {
  display:grid;
  padding:0px;
  grid-gap: 15px;
  grid-template-columns: 150px 1fr;
}

.article-info {display:none;}

.article-banner {object-fit:cover;height:350px;}


.archive-article-title {
    font-size: 1.2em;
    line-height: 1.2em;
}
